@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}

*{
    margin: 0;
    padding: 0;
}
/* header banner design */

.banner-container{
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    max-width: 1180px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../images/banner.png");
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    align-items: center;
}
.banner-content h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.banner-content p{
    color: white;
    font-size: 20px;
    font-weight: 200;
}
/* second section styles */

.second-section-container{
    width: 602.9px;
    height: 606px;
    margin: 0 auto;
    margin-top: 40px;
   
}
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 68px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}
.new-year-image img{
    margin-top: 40px;
    width: 602.9px;
    height: 400px;
}

/* midnight section styles */
.midnight-party-container{
    background-image: url("../images/Vectorrr.png");
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: overlay;
    width: 1180px;
    height: 500px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left-side-content{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: 0px 30px;
}
.left-side-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 600;
}

.left-side-content p{
    color: rgba(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
}
#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 70px;
}
  
.right-side-content{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px ;
}

